*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(3, 3, 3, 0.863);
}
.title{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-size: 3rem;
}
.display{
    display: flex;
    justify-content: center;
    margin-top: 8% ;
    margin-bottom: 8% ;
    font-size: 5rem;
}
.buttons{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    button{
        background-color: black;
        color: red;
        border-radius: 50px;
        outline: 0px solid red;
        width: 100px;
        height: 50px;
        margin: 5px 30px;
        font-size: 1.5rem;
        
    }
}
button:hover{
    background-color: red;
    color: black;
    cursor : pointer
}

.leapDiv{
    margin-top: 20px;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    // justify-content: center;

    font-size: 1.5rem;

}